{% extends 'base.html.twig' %}
{% block menu %}
    {{ include(ea.templatePath('main_menu')) }}
{% endblock %}
{% block user_profile %}
    {% if constant('Symfony\\Component\\Security\\Core\\Authorization\\Voter\\AuthenticatedVoter::IS_IMPERSONATOR') is defined %}
        {% set impersonator_permission = 'IS_IMPERSONATOR' %}
    {% else %}
        {% set impersonator_permission = 'ROLE_PREVIOUS_ADMIN' %}
    {% endif %}
    <div class="user user-menu-wrapper {{ is_granted(impersonator_permission) ? 'user-is-impersonated' }}" data-toggle="popover" data-placement="bottom" data-container=".user-menu-wrapper" data-html="true">
        {% if ea.userMenu.isAvatarDisplayed %}
            {% if null == ea.userMenu.avatarUrl %}
                <i class="fa fa-fw {{ ea.user is not null ? 'fa-user-circle' : 'fa-user-times' }} user-avatar"></i>
            {% else %}
                <img class="user-avatar" src="{{ ea.userMenu.avatarUrl }}" />
            {% endif %}
        {% endif %}
        {% if ea.userMenu.isNameDisplayed %}
            <span class="user-name">{{ ea.userMenu.name }}</span>
        {% endif %}

    </div>
{% endblock %}
{% block body %}
    {% set has_batch_actions = false and batch_form is defined and ea.crud.actions.batchActions|length > 0 %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Post index</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        </div>
    </div>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

        <!--Begin::Dashboard 1-->

        <!--Begin::Section-->
        <div class="row">
            <div class="col-xl-12">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
                        <div class="kt-portlet__head kt-portlet__head--lg">
                            <div class="kt-portlet__head-label">

                            </div>
                            <div class="kt-portlet__head-toolbar" style="margin-right: -24px;">
                                <div class="kt-portlet__head-wrapper">
                                    {% for action in global_actions %}
                                        {{ include(action.templatePath, { action: action }, with_context = false) }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% set sort_field_name = app.request.get('sort')|keys|first %}
                        {% set sort_order = app.request.get('sort')|first %}
                        {% set some_results_are_hidden = false %}
                        {% set has_footer = entities|length != 0 %}
                        {% set has_search = ea.crud.isSearchEnabled %}
                        {% set has_filters = filters|length > 0 %}
                        {% set has_datagrid_tools = has_search or has_filters %}

                        {% if has_datagrid_tools %}
                            <div class="datagrid-header-tools">
                                <div class="datagrid-search">
                                    {% block search %}
                                        {% if has_search %}
                                            <div class="form-action form-action-search">
                                                <form method="get">
                                                    {% block search_form %}
                                                        {# reset the referrer and page number whenever a new query is performed #}
                                                        {% set query_parameters = ea.request.query.all|merge({
                                                            referrer: null, page: 1,
                                                        }) %}

                                                        {# browsers remove the query string when submitting forms using GET;
                                       that's why all query string parameters are added as hidden form fields #}
                                                        {% for paramName, paramValue in query_parameters|ea_flatten_array %}
                                                            <input type="hidden" name="{{ paramName }}" value="{{ paramValue }}">
                                                        {% endfor %}

                                                        <div class="form-group">
                                                            <div class="form-widget">
                                                                <input class="form-control" type="search" name="query" value="{{ app.request.get('query') ?? '' }}" placeholder="{{ 'action.search'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}">
                                                                {% if app.request.get('query') %}
                                                                    <a href="{{ ea_url().unset('query') }}" class="action-search-reset">
                                                                        <i class="fas fa-times-circle"></i>
                                                                    </a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    {% endblock %}
                                                </form>
                                            </div>
                                        {% endif %}
                                    {% endblock search %}
                                </div>

                                <div class="datagrid-filters">
                                    {% block filters %}
                                        {% if filters|length > 0 %}
                                            {% set applied_filters = ea.request.query.all['filters']|default([])|keys %}
                                            <div class="btn-group action-filters">
                                                <a href="{{ ea_url().setAction('renderFilters').includeReferrer() }}" class="btn btn-secondary btn-labeled btn-labeled-right action-filters-button {{ applied_filters ? 'action-filters-applied' }}" data-modal="#modal-filters">
                                                    <i class="fa fa-filter fa-fw"></i> {{ 'filter.title'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}{% if applied_filters %} <span class="text-primary">({{ applied_filters|length }})</span>{% endif %}
                                                </a>
                                                {% if applied_filters %}
                                                    <a href="{{ ea_url().unset('filters') }}" class="btn btn-secondary action-filters-reset">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endblock filters %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="content-panel">
                            <div class="content-panel-body with-rounded-top with-min-h-250 without-padding {{ not has_footer ? 'without-footer' }}">
                                <table class="table datagrid with-rounded-top {{ not has_footer ? 'with-rounded-bottom' }}">
                                    <thead>
                                    {% block table_head %}
                                        <tr>
                                            {% if has_batch_actions %}
                                                <th width="1px"><span><input type="checkbox" class="form-batch-checkbox-all"></span></th>
                                            {% endif %}

                                            {% set ea_sort_asc = constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Option\\SortOrder::ASC') %}
                                            {% set ea_sort_desc = constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Option\\SortOrder::DESC') %}
                                            {% for field in entities|first.fields ?? [] %}
                                                {% set is_sorting_field = ea.search.isSortingField(field.property) %}
                                                {% set next_sort_direction = is_sorting_field ? (ea.search.sortDirection(field.property) == ea_sort_desc ? ea_sort_asc : ea_sort_desc) : ea_sort_desc %}
                                                {% set column_icon = is_sorting_field ? (next_sort_direction == ea_sort_desc ? 'fa-arrow-up' : 'fa-arrow-down') : 'fa-sort' %}

                                                <th class="{{ is_sorting_field ? 'sorted' }} {{ field.isVirtual ? 'field-virtual' }} text-{{ field.textAlign }}" dir="{{ ea.i18n.textDirection }}">
                                                    {% if field.isSortable %}
                                                        <a href="{{ ea_url({ page: 1, sort: { (field.property): next_sort_direction } }).includeReferrer() }}">
                                                            {{ field.label|raw }} <i class="fa fa-fw {{ column_icon }}"></i>
                                                        </a>
                                                    {% else %}
                                                        <span>{{ field.label|raw }}</span>
                                                    {% endif %}
                                                </th>
                                            {% endfor %}

                                            <th {% if ea.crud.showEntityActionsAsDropdown %}width="10px"{% endif %} dir="{{ ea.i18n.textDirection }}">
                                                <span class="sr-only">{{ 'action.entity_actions'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}</span>
                                            </th>
                                        </tr>
                                    {% endblock table_head %}
                                    </thead>

                                    <tbody>
                                    {% block table_body %}
                                        {% for entity in entities %}
                                            {% if not entity.isAccessible %}
                                                {% set some_results_are_hidden = true %}
                                            {% else %}
                                                <tr data-id="{{ entity.primaryKeyValueAsString }}">
                                                    {% if has_batch_actions %}
                                                        <td><input type="checkbox" class="form-batch-checkbox" value="{{ entity.primaryKeyValue }}"></td>
                                                    {% endif %}
                                                    {% for field in entity.fields %}
                                                        {% if field.label=='Status' %}
                                                            <td class="{{ field.property == sort_field_name ? 'sorted' }} {{ field.cssClass }}" dir="{{ ea.i18n.textDirection }}">
                                                                {% if field.value == 'Pending' %}
                                                                    <span title="{{ field.value }}" class="alert-info">
                                                                        {{ field.value }}
                                                                    </span>
                                                                {% elseif field.value == 'Accepted' %}
                                                                    <span title="{{ field.value }}" class="alert-success">
                                                                        {{ field.value }}
                                                                    </span>
                                                                {% else %}
                                                                    <span title="{{ field.value }}" class="alert-danger">
                                                                        {{ field.value }}
                                                                    </span>
                                                                {% endif %}
                                                            </td>
                                                        {% else %}
                                                            <td class="{{ field.property == sort_field_name ? 'sorted' }} text-{{ field.textAlign }} {{ field.cssClass }}" dir="{{ ea.i18n.textDirection }}">
                                                                {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}

                                                    {% block entity_actions %}
                                                        <td class="actions">
                                                            {% if not ea.crud.showEntityActionsAsDropdown %}
                                                                {% for action in entity.actions %}
                                                                    {{ include(action.templatePath, { action: action, entity: entity, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
                                                                {% endfor %}
                                                            {% else %}
                                                                <div class="dropdown dropdown-actions">
                                                                    <a class="dropdown-toggle btn btn-secondary btn-sm" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <i class="fa fa-fw fa-ellipsis-h"></i>
                                                                    </a>

                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                        {% for action in entity.actions %}
                                                                            {{ include(action.templatePath, { action: action, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        </td>
                                                    {% endblock entity_actions %}
                                                </tr>

                                            {% endif %}
                                        {% else %}
                                            <tr>
                                                <td class="no-results" colspan="100">
                                                    {{ 'datagrid.no_results'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        {% if some_results_are_hidden %}
                                            <tr class="datagrid-row-empty">
                                                <td class="text-center" colspan="{{ entities|first.fields|length + 1 }}">
                                                    <span class="datagrid-row-empty-message"><i class="fa fa-lock mr-1"></i> {{ 'datagrid.hidden_results'|trans({}, 'EasyAdminBundle') }}</span>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endblock table_body %}
                                    </tbody>
                                </table>
                            </div>

                            {% if entities|length > 0 %}
                                <div class="content-panel-footer without-padding without-border">
                                    {% block paginator %}
                                        {{ include(ea.templatePath('crud/paginator')) }}
                                    {% endblock paginator %}
                                </div>
                            {% endif %}
                        </div>

                        {% block delete_form %}
                            {{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', with_context = false) }}
                        {% endblock delete_form %}
                        {% if filters|length > 0 %}
                            {{ include('@EasyAdmin/crud/includes/_filters_modal.html.twig') }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}