{% extends 'base.html.twig' %}
{% block menu %}
    {{ include(ea.templatePath('main_menu')) }}
{% endblock %}
{% block user_profile %}
    {% if constant('Symfony\\Component\\Security\\Core\\Authorization\\Voter\\AuthenticatedVoter::IS_IMPERSONATOR') is defined %}
        {% set impersonator_permission = 'IS_IMPERSONATOR' %}
    {% else %}
        {% set impersonator_permission = 'ROLE_PREVIOUS_ADMIN' %}
    {% endif %}
    <div class="user user-menu-wrapper {{ is_granted(impersonator_permission) ? 'user-is-impersonated' }}" data-toggle="popover" data-placement="bottom" data-container=".user-menu-wrapper" data-html="true">
        {% if ea.userMenu.isAvatarDisplayed %}
            {% if null == ea.userMenu.avatarUrl %}
                <i class="fa fa-fw {{ ea.user is not null ? 'fa-user-circle' : 'fa-user-times' }} user-avatar"></i>
            {% else %}
                <img class="user-avatar" src="{{ ea.userMenu.avatarUrl }}" />
            {% endif %}
        {% endif %}
        {% if ea.userMenu.isNameDisplayed %}
            <span class="user-name">{{ ea.userMenu.name }}</span>
        {% endif %}

    </div>
{% endblock %}
{% block body %}
    {% form_theme new_form with ea.crud.formThemes only %}
    {{ parent() }}
    {% for htmlContent in new_form.vars.ea_crud_form.assets.headContents %}
        {{ htmlContent|raw }}
    {% endfor %}
    {{ parent() }}
    {% for css_asset in new_form.vars.ea_crud_form.assets.cssFiles %}
        <link rel="stylesheet" href="{{ asset(css_asset) }}">
    {% endfor %}
    {{ parent() }}
    {% for js_asset in new_form.vars.ea_crud_form.assets.jsFiles %}
        <script src="{{ asset(js_asset) }}"></script>
    {% endfor %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Post new</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        </div>
    </div>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

        <!--Begin::Dashboard 1-->

        <!--Begin::Section-->
        <div class="row">
            <div class="col-xl-12">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
                        <div class="kt-portlet__head kt-portlet__head--lg">
                            <div class="kt-portlet__head-label">

                            </div>
                            <div class="kt-portlet__head-toolbar" style="margin-right: -35px;">
                                <div class="kt-portlet__head-wrapper">
                                    {% for action in entity.actions %}
                                        {{ include(action.templatePath, { action: action }, with_context = false) }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% block new_form %}
                            {{ form(new_form) }}
                        {% endblock new_form %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}